
############################
# 1. Ignorar la persistencia de las BBDD locales 

# 2. Proyecto limpio de binarios 
[Bb]in/
[Oo]bj/

# 3. Variables de entorno locales 
.env

# Ignorar los volúmenes de las bases de datos (Evita los 67 archivos de Neo4j/Cassandra)
**/data/

# Ignorar archivos temporales de VS que se te colaron
.vs/
[Bb]in/
[Oo]bj/

############################
# Tests
############################
TestResults/
*.coverage
*.coveragexml

############################
# NuGet
############################
packages/
*.nupkg
*.snupkg

############################
# Dotnet tools
############################
.dotnet/
.tooling/

############################
# App settings (local / secrets)
############################
appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json

############################
# Database / local cache
############################
*.db
*.sqlite
*.mdf
*.ldf

############################
# Others
############################
_ReSharper*/
*.resharper
*.cache
.vs/
.vscode/
*.user
*.suo